html,
body {
  height: 100%;
  font-family: "Quicksand", Arial, sans-serif;
}

::-webkit-selection {
  color: #fff;
  background: #cc002b;
}

::-moz-selection {
  color: #fff;
  background: #cc002b;
}

::selection {
  color: #fff;
  background: #cc002b;
}

aside {
  height: 100%;
  width: 20%;
  padding: 50px;

  position: fixed;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  max-width: 100px;
  margin-bottom: 60px;
  align-content: flex-start;
}

nav ul li {
  display: inline;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  padding-bottom: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li.active {
  color: #000;
}

nav ul li:hover {
  cursor: pointer;
  color: #000;
  border-bottom: 1px solid #000;
}

.bottom-items ul li {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
}

.bottom-items ul li a:hover {
  text-decoration: none;
}

.committee-title {
  width: 100%;
  line-height: 1.8em;
  text-transform: uppercase;
  font-size: 18px;

  vertical-align: bottom;
  text-align: right;
}

aside ul li a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family: "Quicksand", Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main {
  width: 80%;
  float: right;
  height: 100%;
}

section {
  height: 100%;
  padding-top: 20px;
}

.section-title {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
}

#minutes {
  display: flex;
  flex-direction: column;
}

.calendar {
}

.horizontal-scrollable {
  height: 100%;
  padding-top: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.calender-date-item {
  border-top-style: dashed;
  border-right-style: dashed;
  border-width: 0.5px;
  border-right-width: 0.5px;
  color: black;
  border-color: #aaa;
  font-size: 24px;
  padding: 30px;
  margin: 0px;
  height: 100%;
  font-weight: 300;
  text-align: center;
  transition: transform 0.2s;
}

.calender-date-item:first-child {
  border-left-style: dashed;
}

.calender-date-item:hover {
  background-color: #efefef;
  cursor: pointer;
  border-left-style: dashed;

  transform: scale(1.05);
}

.line {
  margin-top: 20px;
  background-image: linear-gradient(#000, #000);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 60px;
}

.calender-date-item .date {
  font-size: 40px;
  background: rgba(0, 0, 0, 0.03);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90px;
}

.calender-date-item .month {
  margin-top: 20px;
}

.hidden {
  display: none !important;
}

.meeting-detailed {
  position: relative;
  border-top-style: dashed;
  border-left-style: dashed;
  border-right-style: dashed;
  border-width: 0.5px;
  border-color: #aaa;
  background: rgba(0, 0, 0, 0.02);
  height: 100%;
  margin-top: 30px;
  margin-left: 0px !important;
}

.details-row {
  margin-left: 6px;
  margin-right: 6px;
}

.meeting-detailed .close {
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  right: 0px;
  z-index: 999;
}

.meeting-detailed .close:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.meeting-date {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.meeting-date .date {
  font-size: 30px;
  background: rgba(0, 0, 0, 0.03);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 70px;
}

.meeting-detailed .meeting-date .month {
  display: flex;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 18px;
  margin-right: 4px;
}

.meeting-detailed .meeting-date .year {
  display: flex;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

.meeting-detailed .meeting-date .line {
  background-position: left;
  height: 20px;
  margin-top: 12px;
  margin-left: 20px;
  margin-bottom: 12px;
}

.meeting-detailed .notes {
}

.meeting-detailed .notes ul {
  padding-inline-start: 35px;
}

.meeting-detailed .notes ul {
  list-style-type: none;
}

.meeting-detailed .notes ul li {
  text-indent: -1.4em;
  line-height: 1.8em;
}

.meeting-detailed .notes li::before {
  content: "\e114";
  font-family: "icomoon";
  float: left;
  width: 1.4em;
  margin-right: 12px;
}

.meeting-detailed .note-type {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 18px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
