.main h4 {
  letter-spacing: 3px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
}

.main p {
  width: 100%;
  text-align: justify;
}

.main strong {
  font-weight: 500;
  letter-spacing: 2px;
}

.main strong.low-intensity {
  letter-spacing: 0.5px;
}

.main {
  text-align: justify;
}

.constitution-contents {
  margin-bottom: 50px;
}
