.strong {
  color: #cc002b;
}

.side-title {
  font-size: 40px;
  font-weight: 300;
  padding-top: 0px !important;
  line-height: 1.3;
}

.description {
  display: block;
  position: relative;
  height: 100% !important;
}

.cmu-image {
  margin-top: 10px;
  display: block;
  top: 20px;
  height: 89%;
  position: absolute;
}

.intro-back {
  display: block;
  position: absolute;
  width: 690px;
  transform: translate3d(78%, 32%, 0px);
  background-color: white;
  box-shadow: 0px 35px 78px -23px rgba(0, 0, 0, 0.33);
}

.intro {
  padding: 80px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.02s);
}

.initiatives {
  margin-top: 40px;
}

.name {
  text-transform: uppercase !important;
  margin-bottom: 10px;
}

.timeline {
  padding: 10px 0px;
  margin-left: 10px;
  margin-bottom: 40px;
}

.timeline:before {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(100% - 80px);
  background: #c0392b;
}

.timeline .column {
  margin: 20px;
}

.timeline .column .title {
  font-size: 20px;
  letter-spacing: 3px;
}

.timeline .column .title:before {
  content: "";
  position: absolute;
  left: 16px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 3px solid #cc002b;
}

.timeline .column .title .date {
  font-size: 12px;
  margin-bottom: 4px;
}

.timeline .column .desc p {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}
