#minutes {
  display: flex;
  flex-direction: column;
}

.md-notes-main {
  padding-top: 15px;
}

.note-type {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 18px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#role-accordion {
  margin-right: 40px;
}

.panel-group {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.panel-group .panel-group {
  border-top: 0 none;
  border-right: 0 none;
}

.panel {
  border-bottom: 1px solid #ccc;
}

.panel-heading {
  background: #f5f5f5;
}

.panel-heading h4 {
  margin: 0;
}

.panel-heading a {
  text-decoration: none;
  color: #212529;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.panel-heading .badge {
  font-weight: normal;
  font-size: 14px;
  background: #cc002b;
}

.panel-heading .caret {
  width: 20px;
  display: inline-block;
  color: #888;
}

.panel-heading .collapsed .caret::before {
  content: "\2B9E";
}

.panel-heading .dropup .caret::before {
  content: "\2B9F";
}

.panel-body {
  border-top: 1px solid #ccc;
  padding-left: 25px;
  padding-bottom: 5px;
}

.pull-right {
  float: right;
}

#accordion-item-template {
  display: none;
}